<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-actualize-image-picker" version="1.1.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Actualize Image Cordova Plugin</name>
    <js-module name="ActualizeImagePicker" src="www/actualize-image-picker.js">
        <clobbers target="ActualizeImagePicker" />
    </js-module>
    <platform name="android">
        <!-- AndroidX ExifInterface for image rotation handling -->
        <framework src="androidx.exifinterface:exifinterface:1.3.7" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ActualizeImagePicker">
                <param name="android-package" value="earth.actualize.cordova.plugin.ActualizeImagePicker" />
            </feature>
        </config-file>

        <!-- Enable the backported photo picker module for older Android versions -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.google.android.gms.metadata.ModuleDependencies"
                     android:enabled="false"
                     android:exported="false">
                <intent-filter>
                    <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
                </intent-filter>
                <meta-data android:name="photopicker_activity:0:required" android:value="" />
            </service>
        </config-file>

        <source-file src="src/android/ActualizeImagePicker.java" target-dir="src/earth/actualize/cordova/plugin" />
        <source-file src="src/android/utils/JsonArgs.java" target-dir="src/earth/actualize/cordova/plugin/utils" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ActualizeImagePicker">
                <param name="ios-package" value="ActualizeImagePicker" />
            </feature>
        </config-file>

        <framework src="src/ios/Frameworks/GMImagePickerWithCloudMediaDownloading.framework" custom="true" embed="true" />


        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default="This app needs to access your photo library in order to import images" />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <source-file src="src/ios/ActualizeImagePicker.m" />
        <header-file src="src/ios/ActualizeImagePickerConfiguration.h" />
        <source-file src="src/ios/ActualizeImagePickerConfiguration.m" />
        <header-file src="src/ios/ActualizeImagePickerMapper.h" />
        <source-file src="src/ios/ActualizeImagePickerMapper.m" />
        <header-file src="src/ios/ActualizeImagePickerUI.h" />
        <source-file src="src/ios/ActualizeImagePickerUI.m" />
        <source-file src="src/ios/Frameworks/GMImagePickerWithCloudMediaDownloading.framework" target-dir="lib" framework="true" />
    </platform>
</plugin>
